.listItem {
  border: 4px solid #096666;
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 20px;
}

.listItem:last-child {
  margin-bottom: 0;
}

.listItemTitle,
.listItemDesc {
  margin-bottom: 10px;
}

.listItemTitle {
  font-size: 1.2rem;
}

.listItemDesc {
  font-size: 1.1rem;
}
