.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(23, 30, 70, 0.8);
  display: none;
}

.modal.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  padding: 20px;
  background-color: rgb(20, 97, 238);
  border-radius: 10px;
  min-width: 300px;
}
