*,
*::before,
*::after {
  box-sizing: border-box;
}

/* react transition group */

.article-enter {
  transform: translateX(-350px);
}

.article-enter-active {
  transform: translateX(0);
  transition: all 500ms ease-in;
}

.article-exit {
  opacity: 1;
}

.article-exit-active {
  transform: translateX(-350px);
  transition: all 500ms ease-in;
}
